* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 55.5%;
}
@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}
.container {
  margin: auto;
  background-color: #ff0000;
  width: 90vw;
  height: 100vh;
}
@media screen and (max-width: 800px) {
  .container {
    margin: auto;
    /* width: 90vw; */
    width: calc(100vw - 10vw);
  }
}
.container .head {
  background-color: #fff;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 3rem;
}
.container .head .logo {
  height: 4rem;
}
@media screen and (max-width: 800px) {
  .container .head .logo {
    height: 3rem;
  }
}
.container .head .nav {
  display: flex;
  gap: 4rem;
  list-style: none;
  font-size: 1.6rem;
  text-transform: capitalize;
}
@media screen and (max-width: 800px) {
  .container .head .nav {
    display: flex;
    gap: 1.5rem;
  }
}
.container .section_one {
  min-height: calc(100vh - 10rem);
  background-color: #fff;
  display: flex;
  padding: 3rem;
}
@media screen and (max-width: 800px) {
  .container .section_one {
    display: flex;
    flex-direction: column-reverse;
  }
}
.container .section_one .main-page {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  gap: 6rem;
  /* background-color: #ff0000; */
}
@media screen and (max-width: 800px) {
  .container .section_one .main-page {
    display: flex;
    gap: 3rem;
  }
}
.container .section_one .main-page h2 {
  font-size: 5rem;
  font-weight: 1400;
  line-height: 7rem;
}
@media screen and (max-width: 800px) {
  .container .section_one .main-page h2 {
    font-size: 3rem;
    font-weight: 1000;
    line-height: 1;
  }
}
.container .section_one .main-page .main-text {
  font-size: 2rem;
  font-weight: 800;
}

/* MEDIA QUERY FOR MAIN-TEXT STARTS */

@media screen and (max-width: 800px) {
  .container .section_one .main-page .main-text {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(0, 0%, 75%);
  }
}
.container .section_one .main-page .email {
  padding: 1rem;
  backface-visibility: hidden;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

.container .section_one .main-page .email:active {
  border: 0.1rem solid #ff0000;
}

@media screen and (max-width: 800px) {
  .container .section_one .main-page .email {
    display: block;
    width: 100%;
    padding: 1.5rem;
  }
}
.container .section_one .main-page .btn {
  background-color: hsl(224, 93%, 58%);
  padding: 1rem;
  display: inline-block;
  width: 20rem;
  color: #fff;
  margin-left: 2rem;
  backface-visibility: hidden;
  box-shadow: 1rem 0rem 2rem rgba(0, 0, 0, 0.5);
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  cursor: pointer;
}

.container .section_one .main-page .btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
  border: none;
  background-color: hsl(170, 45%, 43%);
  /* box shadow properties x y blur and rgba */
}
.container .section_one .main-page .btn:active {
  transform: translateY(-1px);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  background-color: hsl(243, 87%, 12%);
  border: none;
}

@media screen and (max-width: 800px) {
  .container .section_one .main-page .btn {
    display: block;
    margin-top: 2rem;
    width: 100%;
    margin-left: 0;
    font-weight: 500;
  }
}
.container .section_one .img_main {
  display: flex;
  flex: 1;
  /* background-color: rgb(15, 76, 130); */
  background-image: url(../images/illustration-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.container .section-two {
  /* background-color: #ff0000; */
  background-image: url(../images/bg-curve-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 120vh;
  display: flex;
  padding: 3rem;
}
@media screen and (max-width: 800px) {
  .container .section-two {
    background-image: url(../images/bg-curve-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 140vh;
    /* margin-top: 15rem; */
    display: flexbox;
    /* flex: 0 0 50%; */
    flex-direction: column-reverse;
  }
}

.container .section-two .sub-page {
  display: flex;
  flex: 0 0 50%;
  flex-direction: column;
  /* background-color: orange; */
  margin-top: 5rem;
  gap: 4rem;
}

@media screen and (max-width: 800px) {
  .container .section-two .sub-page {
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
    gap: 2.5rem;
    flex: 0 0 30%;
  }
}
.container .section-two .sub-page h2 {
  font-size: 5rem;
  font-weight: 1400;
  line-height: 1.2;
  animation-name: moveInTop;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  /* animation-iteration-count: 3; */
}
@media screen and (max-width: 800px) {
  .container .section-two .sub-page h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
}
.container .section-two .sub-page .para1 {
  font-size: 2rem;
  font-weight: 400;
  color: hsl(0, 0%, 75%);
}
@media screen and (max-width: 800px) {
  .container .section-two .sub-page .para1 {
    font-size: 2.5rem;
    /* line-height:1; */
    font-weight: 400;
    color: hsl(0, 0%, 75%);
  }
}
.fylo:link {
  text-decoration: none;
  color: hsl(170, 45%, 43%);
  font-size: 2rem;
  border-bottom: 0.2rem solid hsl(170, 45%, 43%);
  width: 19rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .fylo:link {
    margin: auto;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.5rem;

  width: 50rem;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .testimonial {
    margin: auto;

    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 70vw;
  }
}

.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}
.avatar-testimonial {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2.5rem;
}

.avatar-testimonial .name {
  font-size: 2rem;
  font-weight: bold;
}
.avatar-testimonial .founder {
  font-size: 1.5rem;
  font-weight: 400;
}
.container .section-two .sub-page .para2 {
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem;
}
@media screen and (max-width: 800px) {
  .container .section-two .sub-page .para2 {
    padding: 1;
    line-height: 1;
  }
}
.container .section-two .img-sub {
  display: flex;
  flex: 1;
  /* background-color: rgb(15, 76, 130); */
  background-image: url(../images/illustration-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5rem;
}
@media screen and (max-width: 800px) {
  .container .section-two .img-sub {
    display: flex;
    flex: 0 0 35%;
    margin-top: auto;
  }
}
.container .section-three {
  background-color: hsl(238, 22%, 44%);
  /* background-color: #fff; */
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding: 3rem;
}
@media screen and (max-width: 800px) {
  .container .section-three {
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.container .section-three .three {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 0 0 50%;
}

.container .section-three .three .head-three {
  font-size: 5rem;
  color: #fff;
  font-weight: 800;
}

@media screen and (max-width: 800px) {
  .container .section-three .three .head-three {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }
}

.container .section-three .three .para3 {
  font-size: 2.5rem;
  color: hsl(0, 0%, 75%);
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .container .section-three .three .para3 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    /* text-align: center; */
  }
}

.container .section-three .email-three {
  display: flex;
  flex: 1;
  backface-visibility: hidden;
}
.container .section-three .email-three .form-three {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50rem;
  padding: 2rem;
}
@media screen and (max-width: 800px) {
  .container .section-three .email-three .form-three {
    display: flex;
    justify-content: center;
  }
}
.container .section-three .email-three .email3 {
  padding: 2rem;
  width: 40rem;
}
@media screen and (max-width: 800px) {
  .container .section-three .email-three .email3 {
    padding: 1rem;
    display: block;
    width: 50%;
    margin: auto;
  }
}

.container .section-three .email-three .btn-three {
  width: 30rem;
  padding: 2rem;
  cursor: pointer;
  background-color: hsl(239, 67%, 73%);
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
  animation-name: moveInButtom;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: 3;
}

@media screen and (max-width: 800px) {
  .container .section-three .email-three .btn-three {
    display: block;
    padding: 1rem;
    width: 50%;
    font-size: 1.5rem;
    margin: auto;
  }
}
.container .section-three .email-three .btn-three:hover {
  background-color: cadetblue;
}
@keyframes moveInButtom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container .section-four {
  background-color: hsl(243, 87%, 12%);
  min-height: calc(100vh - 35vh);
}

@media screen and (max-width: 800ox) {
  .container .section-four {
    min-height: 100vh;
  }
}
.container .section-four .logo {
  height: 4rem;
  color: hsl(0, 0%, 100%);
  margin: 4rem;
}
.container .section-four .card-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 800px) {
  .container .section-four .card-four {
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }
}

.phone-category {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #fff;
  font-size: 2.5rem;
  list-style: none;
  padding: 3rem;
}

.phone-category .phone-num {
  margin-left: 1.5rem;
}
.phone-category .gmail {
  margin-left: 1.5rem;
}
.about {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #fff;
  font-size: 2.5rem;
  list-style: none;
  padding: 3rem;
  cursor: pointer;
}
.about .about-us:hover {
  color: hsl(238, 22%, 44%);
}
.about .jobs:hover {
  color: hsl(238, 22%, 44%);
}
.about .press:hover {
  color: hsl(238, 22%, 44%);
}
.about .blog:hover {
  color: hsl(238, 22%, 44%);
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #fff;
  font-size: 2.5rem;
  list-style: none;
  padding: 3rem;
  text-transform: capitalize;
  cursor: pointer;
}
.icon-cat {
  display: flex;

  gap: 4rem;
  color: #fff;
  font-size: 2.5rem;
  list-style: none;
  padding: 3rem;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .icon-cat {
    display: flex;
    justify-content: center;
  }
}

.icon-cat .face {
  border: 0.1rem solid white;
  border-radius: 50%;
  padding: 1rem;
}
.icon-cat .xt {
  border: 0.1rem solid white;
  border-radius: 50%;
  padding: 1rem;
}
.icon-cat .insta {
  border: 0.1rem solid white;
  border-radius: 50%;
  padding: 1rem;
}
.icon-cat .face:hover {
  color: cadetblue;
}
.icon-cat .xt:hover {
  color: cadetblue;
}
.icon-cat .insta:hover {
  color: cadetblue;
}
footer {
  color: #fff;
  font-size: 2.5rem;
  padding: 3rem;
}
footer .attribution .attribute {
  text-decoration: none;

  color: hsl(170, 45%, 43%);
}
